<%= form_for @catalog do |f| %>
  <p>
    <%= f.label :text_pt %><br>
    <%= f.text_field :text_pt %>
  </p>

  <p>
    <%= f.label :text_en %><br>
    <%= f.text_field :text_en %>
  </p>

  <p>
    <%= f.label :exp_title_pt %><br>
    <%= f.text_field :exp_title_pt %>
  </p>

  <p>
    <%= f.label :exp_title_en %><br>
    <%= f.text_field :exp_title_en %>
  </p>
 
  <p>
    <%= f.label :exp_text_pt %><br>
    <%= f.text_field :exp_text_pt %>
  </p>

  <p>
    <%= f.label :exp_text_en %><br>
    <%= f.text_field :exp_text_en %>
  </p>
   
  <p>
    <%= f.submit %>
  </p>
<% end %>