<%= render 'shared/header' %>

<!--NAVBAR-->
<header id="HOME" style="background-position: 50% -125px;">
	<div class="section_overlay">
		<% if current_user%>
			<%= render 'shared/admin_navbar'%>
		<% else %>
			<%= render 'shared/navbar' %>
		<% end %>
	</div>        
</header>
<!--/NAVBAR--> 

<!--Product-->
<section class="product_area" id="PRODUCT">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="product_title wow fadeInUp animated">
					<% if @locale == 'pt'%>
					<h2><%= @product.name_pt %></h2>
					<%else%>
					<h2><%= @product.name_en %></h2>
					<% end %>
					<%= image_tag "shape.png" %>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4  wow fadeInLeft animated">
				<div class="single_image">
					<%= image_tag @product.image %>
				</div>
			</div>
			<% if current_user%>
				<%= link_to "New Experience", new_experience_path(:Product_id => @product.to_param)%>
			<% end %>
			<table>
				<thead>
					<tr>
						<th>Programa</th>
						<th>Tipo de pacote</th>
						<th>Experiencia</th>
						<th>Preço</th>
					</tr>
				</thead>

				<tbody>
					<% @experiences.each do |experience| %>
					<tr>	
						<% if @locale == 'pt'%>
							<td><%= experience.program_type %></td>
							<td><%= experience.package_type %></td>
							<td><%= experience.description_pt %></td>
						<%else%>
							<td><%= experience.program_type %></td>
							<td><%= experience.package_type %></td>
							<td><%= experience.description_en %></td>
						<% end %>
						<td><%= experience.price %></td>
						<% if current_user%>
							<td><%= link_to 'Edit', edit_experience_path(experience) %></td>
							<td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% end %>
						<td><%= link_to 'Book this experience', new_order_path(:experience_id => experience.id) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>	
		</div>
	</div>
</section>
<!--/Product-->

<%= render 'shared/footer' %> 